
<!--begin::Contacts-->
<div class="card card-flush" data-menu="{% if idMenu is defined %}{{ idMenu }}{% endif %}">
    <!--begin::Card body-->
    <div class="card-body pt-5">
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table align-middle table-row-dashed fs-6 gy-5"
                   data-request="ajaxify-search" data-entity="App\Entity\Utilisateur" data-perpage="10">
                <!--begin::Table head-->
                <thead>
                <!--begin::Table row-->
                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                    <th class="w-10px pe-2">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input class="form-check-input" type="checkbox" data-kt-check="true"
                                   data-kt-check-target="#kt_utilisateurs_table .form-check-input"
                                   value="1"/>
                        </div>
                    </th>
                    <th class="min-w-125px">Nom</th>
                    <th class="min-w-125px">Prénom(s)</th>
                    <th class="min-w-125px">Sexe</th>
                    <th class="min-w-125px">Téléphone</th>
                     {# <th class="min-w-125px">Email</th>  #}
                    <th class="min-w-125px">Adresse</th>
                    <th class="text-end min-w-150px">Actions</th>
                </tr>
                <!--end::Table row-->
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody class="fw-bold text-gray-600">
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
    </div>
    <!--end::Card body-->
</div>
<!--end::Produits-->